h1 {
    font-size: 40px;
}

body {
    background-color: lightgray;
    text-align: center;
}

#verlinkungen {
    width: 200px;
    height: 100px;
    background-color: bisque;
    color: black;
    margin-left: 1650px;
    margin-top: -250px;
    position: absolute;
}

verlinkungen {
    font-size: 22px;
}